### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load 
file_to_load = "Resources_purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
purchase_df = pd.DataFrame(purchase_data)
players = purchase_df.SN.unique() #array of players
data = {'Total Players':len(players)} #created a dictionary
df = pd.DataFrame(data, index =[0]) #converted dictionary to DataFrame
df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
unique_item = purchase_data["Item ID"].unique() #creates unique array of items
ave_price = purchase_data.Price.mean() #calculate ave price
num_purchases=len(purchase_data["Price"]) #counts elements in array
total_rev = purchase_data["Price"].sum()  #sum of each element in array
data = {'Nuber of Unique Items':len(unique_item),  #made a dictionary out of results
'Average Price':round(ave_price,2),
'Number of Purchases':num_purchases,
'Total Revenue':total_rev}
df = pd.DataFrame(data, index =[0])  # converted dictionary to DataFrame and set index = 0 to match solution
df['Total Revenue'] = df['Total Revenue'].astype(float).map("${:,.2f}".format) #mapped formatting
df['Average Price'] = df['Average Price'].astype(float).map("${:,.2f}".format) #mapped formatting
df

   Nuber of Unique Items Average Price  Number of Purchases Total Revenue
0                    183         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
m = purchase_data[purchase_data.Gender == 'Male']  # m is a reduced data frame only including == male values
f = purchase_data[purchase_data.Gender == 'Female'] # f is a reduced data frame only including ==female values
o = purchase_data[purchase_data.Gender == 'Other / Non-Disclosed'] # o is a reduced dataframe included the rest

m_count=len(m.SN.unique())  # calculated the unique number of male users
f_count=len(f.SN.unique())  #calculated the unique number of female users
o_count=len(o.SN.unique())  #calculated the unique number of other users

total = len(players)  #players were calculated as the unique set of screen names

m_percentage = round(m_count/total*100,2) #(calculated percentage: unique 
f_percentage = round(f_count/total*100,2) #gender divided by the total
o_percentage = round(o_count/total*100,2) #unique players)

data = {'':['Male','Female', 'Other / Non-Disclosed'] ,   #dictionary created to hold each result
'Total Count':[m_count,f_count,o_count],
'Percentage of Players':[m_percentage,f_percentage,o_percentage]
}

df = pd.DataFrame(data) # dictionary converted to DataFrame
gender_df =df.set_index('') #Set index to the Gender
gender_df['Percentage of Players'] = gender_df['Percentage of Players'].astype(float).map("{:,.2f}%".format) #mapped formatting
gender_df

                       Total Count Percentage of Players

Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
purchase_data_count = purchase_data.groupby('Gender').count()[['Purchase ID']]  #DataFrame of the count of purchase data grouped by gender
price_ave_bygender = purchase_data.groupby('Gender').mean()[['Price']]  #DataFrame of the average of item price grouped by gender
price_sum_bygender = purchase_data.groupby('Gender').sum()[['Price']]   #DataFrame of the sum of item prices grouped by gender

merge_df = pd.merge(purchase_data_count, price_ave_bygender, on = "Gender", how = "left") #merging the dataframes on Gender
merge_df = pd.merge(merge_df,price_sum_bygender,on = "Gender", how ="left" )

total = [merge_df.iloc[0,2]/f_count,  #creating list of average total purchase per person. Ave price/ count of unique users  
        merge_df.iloc[1,2]/m_count,
        merge_df.iloc[2,2]/o_count]
merge_df['Avg Total Purchase per Person'] = total
merge_df = merge_df.rename(columns={'Purchase ID':'Purchase Count','Price_x':'Average Purchase Price','Price_y':'Total Purchase Value'})  #renaming columns

merge_df['Avg Total Purchase per Person'] = merge_df['Avg Total Purchase per Person'].astype(float).map("${:,.2f}".format) #mapped formatting
merge_df['Average Purchase Price'] = merge_df['Average Purchase Price'].astype(float).map("${:,.2f}".format) #mapped formatting
merge_df['Total Purchase Value'] = merge_df['Total Purchase Value'].astype(float).map("${:,.2f}".format) #mapped formatting
merge_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
data_df = purchase_data[['SN','Age']]  # reduced DF of SN and Age
removed_duplicates =data_df.drop_duplicates(subset=['SN','Age'],keep='first') #removing duplicate users while keeping first

bins = [0,9.9,14.9,19.9,24.9,29.9,34.9,39.9,100]  #generating bins
group_names = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]  # bin labels

removed_duplicates["Demographic"] = pd.cut(removed_duplicates["Age"],bins,labels=group_names,include_lowest=True) #used cut to group data into bins

demographic_group = removed_duplicates.groupby("Demographic") #grouped by the binned data
demographics_output =pd.DataFrame(demographic_group["Age"].count())  #created a temporary DF to hold
demographics_output['Percentage of Players']=[100*p/demographics_output['Age'].sum() for p in demographics_output['Age']]

demographics_output.columns = ['Total Count', 'Percentage of Players'] #renamed columns
demographics_output['Percentage of Players'] = demographics_output['Percentage of Players'].astype(float).map("{:,.2f}%".format) #mapped formatting
demographics_output

C:\Users\chand\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

             Total Count Percentage of Players
Demographic
<10                   17                 2.95%
10-14                 22                 3.82%
15-19                107                18.58%
20-24                258                44.79%
25-29                 77                13.37%
30-34                 52                 9.03%
35-39                 31                 5.38%
40+                   12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
purchase_analysis_df = purchase_data[['Purchase ID','Age','Price']] #created a reduced DF

bins = [0,9.9,14.9,19.9,24.9,29.9,34.9,39.9,100] 
group_names = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

purchase_analysis_df["Demographic"] = pd.cut(purchase_analysis_df["Age"],bins,labels=group_names,include_lowest=True)  #cut data into bins and saved as a new column Demographic

demo_group = purchase_analysis_df.groupby("Demographic")  #grouped by the binned Demographic
age_count =demo_group[["Purchase ID"]].count()  #Dataframe of counts grouped by demographic
age_ave =demo_group[["Price"]].mean()  #Dataframe of ave price grouped by demographic
age_total =demo_group[["Price"]].sum()  #Dataframe of sum of price grouped by demographic

age_analysis = pd.merge(age_count, age_ave, on = "Demographic", how = "left") #merging DF based on Demographic
age_analysis = pd.merge(age_analysis,age_total, on= "Demographic", how = "left")
age_analysis["Avg Total Purchase Per Person"] = (age_analysis["Price_y"])/(demographics_output["Total Count"]) #created a new column calculating ave total/person.
age_analysis.columns = ["Purchase Count", "Average Purchase Price", "Total Purchase Value", "Avg Total Purchase per Person"] #renaming columns
age_analysis['Average Purchase Price'] = age_analysis['Average Purchase Price'].astype(float).map("${:,.2f}".format) #mapped formatting
age_analysis['Total Purchase Value'] = age_analysis['Total Purchase Value'].astype(float).map("${:,.2f}".format) #mapped formatting
age_analysis['Avg Total Purchase per Person'] = age_analysis['Avg Total Purchase per Person'].astype(float).map("${:,.2f}".format) #mapped formatting

age_analysis

C:\Users\chand\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Demographic,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
top_spenders = purchase_df[['SN','Price']]  #reduced DF of SN and Price

spenders_count = top_spenders.groupby('SN').count() # DF grouped by SN and counted
spenders_ave = top_spenders.groupby('SN').mean() # DF of mean Price sorted by SN
spenders_sum = top_spenders.groupby('SN').sum() # Df of total price sorted by SN


temp_df= pd.merge(spenders_count, spenders_ave, on = "SN", how = "left")  #merged DF of count,mean,sum
top_spenders = pd.merge(temp_df,spenders_sum, on= "SN", how = "left")

top_spenders_sorted = top_spenders.sort_values(by=['Price'],ascending =False) #resorted with top spenders at top

top_spenders_sorted.columns = ["Purchase Count", "Average Purchase Price", "Total Purchase Value"]  #renamed columns

top_spenders_sorted['Average Purchase Price'] = top_spenders_sorted['Average Purchase Price'].astype(float).map("${:,.2f}".format) #mapped formatting
top_spenders_sorted['Total Purchase Value'] = top_spenders_sorted['Total Purchase Value'].astype(float).map("${:,.2f}".format) #mapped formatting

top_spenders_sorted.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
pop_item = purchase_df[['Item ID', 'Item Name','Price']] #reduced DF of purchase data to find popular items
pop_item_index =pop_item.set_index('Item ID') #reset index to item id
pop_count = pop_item_index.groupby('Item ID').count()[['Item Name']] # count of times item is purchased
pop_sum = pop_item_index.groupby('Item ID').sum() # sum of each item grouped by item
pop_price =pd.DataFrame(pop_sum['Price']/pop_count['Item Name']) # cost of each item.  Total profit/count of item
pop_price.columns = ['Price'] #renamed column to Price
pop_total = pd.DataFrame(pop_count['Item Name']*pop_price['Price']) #total purchase value.  item count*price/item
pop_total.columns = ["Total Purchase Value"] #renamed column

pop_merge= pd.merge(pop_count, pop_price, on = "Item ID", how = "left") #merged DFs together
pop_merge = pd.merge(pop_merge,pop_total, on= "Item ID", how = "left")

pop_merge_sorted = pop_merge.sort_values(by=['Item Name'],ascending =False)  #sorted with highest number purchased

pop_merge_sorted.columns = ["Purchase","Item Price", "Total Purchase Value"]  #renamed columns

pop_merge_sorted['Item Price'] =pop_merge_sorted['Item Price'].astype(float).map("${:,.2f}".format) #mapped formatting
pop_merge_sorted['Total Purchase Value'] =pop_merge_sorted['Total Purchase Value'].astype(float).map("${:,.2f}".format) #mapped formatting

pop_merge_sorted.head()

         Purchase Item Price Total Purchase Value
Item ID
178            12      $4.23               $50.76
145             9      $4.58               $41.22
108             9      $3.53               $31.77
82              9      $4.90               $44.10
19              8      $1.02                $8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [10]:
pop_item = purchase_df[['Item ID', 'Item Name','Price']] #reduced DF of purchase data to find popular items
pop_item_index =pop_item.set_index('Item ID') #reset index to item id
pop_count = pop_item_index.groupby('Item ID').count()[['Item Name']] # count of times item is purchased
pop_sum = pop_item_index.groupby('Item ID').sum() # sum of each item grouped by item
pop_price =pd.DataFrame(pop_sum['Price']/pop_count['Item Name']) # cost of each item.  Total profit/count of item
pop_price.columns = ['Price'] #renamed column to Price
pop_total = pd.DataFrame(pop_count['Item Name']*pop_price['Price']) #total purchase value.  item count*price/item
pop_total.columns = ["Total Purchase Value"] #renamed column

pop_merge= pd.merge(pop_count, pop_price, on = "Item ID", how = "left") #merged DFs together
pop_merge = pd.merge(pop_merge,pop_total, on= "Item ID", how = "left")

pop_merge_sorted = pop_merge.sort_values(by=['Total Purchase Value'],ascending =False)  #sorted with highest Total Purchase Value

pop_merge_sorted.columns = ["Purchase","Item Price", "Total Purchase Value"]  #renamed columns

pop_merge_sorted['Item Price'] =pop_merge_sorted['Item Price'].astype(float).map("${:,.2f}".format) #mapped formatting
pop_merge_sorted['Total Purchase Value'] =pop_merge_sorted['Total Purchase Value'].astype(float).map("${:,.2f}".format) #mapped formatting

pop_merge_sorted.head()

         Purchase Item Price Total Purchase Value
Item ID
178            12      $4.23               $50.76
82              9      $4.90               $44.10
145             9      $4.58               $41.22
92              8      $4.88               $39.04
103             8      $4.35               $34.80